.canvas-container{
  position: relative;
  width: 800px;
  height: 800px;
}
#canvas {
  position: absolute;
  background-color:black;
}
#titleStart {
  position:absolute;
  margin-top: 100px;
  margin-left: 570px;
  color: white;
  text-align: center;
}
#divInfo{
  position: relative;
}
#velocity-info-keyboard{
  position: relative;
  color: yellow;
  margin-left: 1040px;
  display: ruby;
}
#velocity-info-gamepad{
  color: red;
  position: relative;
  margin-top: -20px;
}
#thrust-info-gamepad{
  color: red;
  position: absolute;
  margin-top: -20px;
  display: ruby;
}
#thrust-info-keyboard{
  color: yellow;
  position: relative;
  margin-left: 1170px;
  display: ruby;
}
#title{
  display: ruby-base;
  margin-left: 100px;
}